@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--user-font-family-headers), serif;
    }
    :root {
        --user-font-family-headers: 'Montserrat', 'Roboto';
        --user-font-family-text: 'Roboto, sans-serif';

        --text-50: #eff6ef;
        --text-100: #deedde;
        --text-200: #bddbbd;
        --text-300: #9cc99c;
        --text-400: #7bb77b;
        --text-500: #5ba45b;
        --text-600: #488448;
        --text-700: #366336;
        --text-800: #244224;
        --text-900: #122112;
        --text-950: #091009;

        --background-50: #eff6ef;
        --background-100: #deedde;
        --background-200: #bddbbd;
        --background-300: #9cc99c;
        --background-400: #7bb77b;
        --background-500: #5ba45b;
        --background-600: #488448;
        --background-700: #366336;
        --background-800: #244224;
        --background-900: #122112;
        --background-950: #091009;

        --secondary-50: #eef6f6;
        --secondary-100: #ddeeee;
        --secondary-200: #bbdddd;
        --secondary-300: #99cccc;
        --secondary-400: #77bbbb;
        --secondary-500: #55aaaa;
        --secondary-600: #448888;
        --secondary-700: #336666;
        --secondary-800: #224444;
        --secondary-900: #112222;
        --secondary-950: #091111;

        --accent-50: #eef4f6;
        --accent-100: #dde9ee;
        --accent-200: #bbd3dd;
        --accent-300: #99bdcc;
        --accent-400: #77a8bb;
        --accent-500: #5592aa;
        --accent-600: #447588;
        --accent-700: #335766;
        --accent-800: #223a44;
        --accent-900: #111d22;
        --accent-950: #090f11;

    }
}
