@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text-50: #eff6ef;
        --text-100: #deedde;
        --text-200: #bddbbd;
        --text-300: #9cc99c;
        --text-400: #7bb77b;
        --text-500: #5ba45b;
        --text-600: #488448;
        --text-700: #366336;
        --text-800: #244224;
        --text-900: #122112;
        --text-950: #091009;

        --background-50: #eff6ef;
        --background-100: #deedde;
        --background-200: #bddbbd;
        --background-300: #9cc99c;
        --background-400: #7bb77b;
        --background-500: #5ba45b;
        --background-600: #488448;
        --background-700: #366336;
        --background-800: #244224;
        --background-900: #122112;
        --background-950: #091009;

        --primary-50: #eef6ee;
        --primary-100: #ddeede;
        --primary-200: #bbddbc;
        --primary-300: #99cc9b;
        --primary-400: #77bb7a;
        --primary-500: #55aa58;
        --primary-600: #448847;
        --primary-700: #336635;
        --primary-800: #224423;
        --primary-900: #112212;
        --primary-950: #091109;

        --secondary-50: #eef6f6;
        --secondary-100: #ddeeee;
        --secondary-200: #bbdddd;
        --secondary-300: #99cccc;
        --secondary-400: #77bbbb;
        --secondary-500: #55aaaa;
        --secondary-600: #448888;
        --secondary-700: #336666;
        --secondary-800: #224444;
        --secondary-900: #112222;
        --secondary-950: #091111;

        --accent-50: #eef4f6;
        --accent-100: #dde9ee;
        --accent-200: #bbd3dd;
        --accent-300: #99bdcc;
        --accent-400: #77a8bb;
        --accent-500: #5592aa;
        --accent-600: #447588;
        --accent-700: #335766;
        --accent-800: #223a44;
        --accent-900: #111d22;
        --accent-950: #090f11;

    }
    .dark {
        --text-50: #091109;
        --text-100: #112211;
        --text-200: #224422;
        --text-300: #336633;
        --text-400: #448844;
        --text-500: #55aa55;
        --text-600: #77bb77;
        --text-700: #99cc99;
        --text-800: #bbddbb;
        --text-900: #ddeedd;
        --text-950: #eef6ee;

        --background-50: #091109;
        --background-100: #112211;
        --background-200: #224422;
        --background-300: #336633;
        --background-400: #448844;
        --background-500: #55aa55;
        --background-600: #77bb77;
        --background-700: #99cc99;
        --background-800: #bbddbb;
        --background-900: #ddeedd;
        --background-950: #eef6ee;

        --primary-50: #091109;
        --primary-100: #112212;
        --primary-200: #224423;
        --primary-300: #336635;
        --primary-400: #448847;
        --primary-500: #55aa58;
        --primary-600: #77bb7a;
        --primary-700: #99cc9b;
        --primary-800: #bbddbc;
        --primary-900: #ddeede;
        --primary-950: #eef6ee;

        --secondary-50: #091111;
        --secondary-100: #112222;
        --secondary-200: #224444;
        --secondary-300: #336666;
        --secondary-400: #448888;
        --secondary-500: #55aaaa;
        --secondary-600: #77bbbb;
        --secondary-700: #99cccc;
        --secondary-800: #bbdddd;
        --secondary-900: #ddeeee;
        --secondary-950: #eef6f6;

        --accent-50: #090f11;
        --accent-100: #111d22;
        --accent-200: #223a44;
        --accent-300: #335766;
        --accent-400: #447588;
        --accent-500: #5592aa;
        --accent-600: #77a8bb;
        --accent-700: #99bdcc;
        --accent-800: #bbd3dd;
        --accent-900: #dde9ee;
        --accent-950: #eef4f6;

    }
}
